.valid {
  color: green;
}

.invalid {
  color: red;
}

.error-message {
  color: orangered;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shake {
  animation: shake 1s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(50px) rotate(45deg) scale(0.5);
  }

  25% {
    transform: translateX(-10px) scale(1);
  }

  50% {
    transform: translateX(15px) scale(1.1);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.main-bg-container {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/images/sign-up.jpg");
  position: relative;
  #btn-icon {
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: #ffffff6f;
  }
}

.form-sign-up-container {
  width: auto;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    width: 80%;
    height: 100%;
    border: solid 3px rgba(57, 57, 205, 0.805);
    background-color: #faf7f767;
    backdrop-filter: blur(10px);
    /* Préfixes pour Safari */
    -webkit-backdrop-filter: blur(10px);

    /* Préfixes pour Firefox */
    -moz-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(34, 32, 32, 0.688);
  }

  .formulaire-connexion {
    display: flex;
    flex-direction: column;

    .champs {
      padding: 10px;
      margin: 2px 0;
    }

    #btn-formulaire {
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: 415px) {
  .main-bg-container {
    background: linear-gradient(to bottom right, #f0f0f0, #30363b);
  }

  .form-sign-up-container {
    background: transparent;
    width: 100%;
    height: 100%;

    .card {
      padding: 2rem;
      width: auto;
      height: auto;
      max-width: 30svw;
    }
  }
}
