<section class="main-bg-container">
  <button routerLink="/" id="btn-icon" mat-icon-button>
    <mat-icon color="primary">arrow_back_ios</mat-icon>
  </button>
  <div class="form-sign-up-container">
    <div class="card">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="formulaire-connexion"
      >
        <h2>Créer un compte</h2>
        <mat-form-field class="champs" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            (input)="clearErrorMessage(); normalizeEmail()"
            formControlName="email"
            type="email"
            [errorStateMatcher]="matcher"
          />
          @if (registerForm.get('email')?.invalid &&
          !registerForm.get('email')?.hasError('required')) {
          <mat-error>Veuillez entrer une adresse e-mail valide</mat-error>
          } @if (registerForm.get('email')?.hasError('required') &&
          (registerForm.get('email')?.dirty ||
          registerForm.get('email')?.touched)) {
          <mat-error>Email <strong>requis</strong></mat-error>
          }
          <mat-icon color="primary" matIconSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field class="champs">
          <mat-label>Nom</mat-label>
          <input
            matInput
            type="text"
            formControlName="lastname"
            [errorStateMatcher]="matcher"
          />
          @if (registerForm.get('lastname')?.invalid &&
          !registerForm.get('lastname')?.hasError('required')) {
          <mat-error>Entrez deux caractères minimum</mat-error>
          } @if (registerForm.get('lastname')?.hasError('required') &&
          (registerForm.get('lastname')?.dirty ||
          registerForm.get('lastname')?.touched)) {
          <mat-error>Nom <strong>requis</strong></mat-error>
          }
          <mat-icon color="primary" matIconSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field class="champs">
          <mat-label>Prénom</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstname"
            [errorStateMatcher]="matcher"
          />
          @if (registerForm.get('firstname')?.invalid &&
          !registerForm.get('firstname')?.hasError('required')) {
          <mat-error>Entrez trois caractères minimum</mat-error>
          } @if (registerForm.get('firstname')?.hasError('required') &&
          (registerForm.get('firstname')?.dirty ||
          registerForm.get('firstname')?.touched)) {
          <mat-error>Prénom <strong>requis</strong></mat-error>
          }
          <mat-icon matIconSuffix color="primary">person</mat-icon>
        </mat-form-field>
        <mat-form-field class="champs" appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput type="tel" formControlName="phoneNumber" />
          <mat-icon matIconSuffix color="primary">smartphone</mat-icon>
        </mat-form-field>
        <mat-form-field class="champs" appearance="outline">
          <mat-label> Mot de passe</mat-label>
          <input
            matInput
            (keyup.enter)="onSubmit()"
            (input)="clearErrorMessage()"
            [type]="passwordFieldType"
            #input
            (ngModelChange)="checkInputLength(input.value)"
            formControlName="password"
            [errorStateMatcher]="matcher"
          />
          @if(registerForm.get('password')?.invalid &&
          registerForm.get('password')?.hasError('required')){
          <mat-error>
            Format (1 mini, 1 maj, 1 chiffre, 1 spécial et 8 mini)</mat-error
          >
          } @if(registerForm.get('password')?.hasError('required') &&
          (registerForm.get('password')?.dirty ||
          registerForm.get('password')?.touched)){
          <mat-error>Mot de passe <strong>Requis</strong></mat-error>
          }
          <!-- Icône pour basculer la visibilité -->
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="
              'Toggle ' +
              (passwordFieldType === 'password' ? 'visibility' : 'hide')
            "
            [attr.title]="passwordFieldType === 'password' ? 'Show' : 'Hide'"
          >
            <mat-icon>{{
              passwordFieldType === "password" ? "visibility" : "visibility_off"
            }}</mat-icon>
          </button>
          <mat-hint align="start">
            <span class="max-mdp" [ngClass]="inputLengthClass">
              {{ input.value.length }} </span
            >/8
          </mat-hint>
        </mat-form-field>
        <button
          id="btn-formulaire"
          mat-flat-button
          color="accent"
          [disabled]="registerForm.invalid"
        >
          Valider
        </button>
        <div
          *ngIf="errorMessage"
          [ngClass]="{ 'error-message': true, shake: errorMessage }"
          class="error-message"
        >
          {{ errorMessage }}
        </div>
      </form>
    </div>
    <div class="right-side">
      <h2>Enregistrez-vous en créant un compte</h2>
      <p>
        Suivez facilement vos dons avec notre application. Consultez rapidement
        l'historique de vos contributions et restez informé sur leur impact
        grâce à notre interface conviviale.
      </p>
    </div>
  </div>
</section>
