/* Global Styles */
.not-found {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

/* Main Container */

.not-found-container {
  padding: 5rem;
  border-radius: 6px;
  height: fit-content;
  background-color: #6fa083;
  text-align: center;
}

/* Heading */

.not-found-heading {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: orangered;
}

/* Message */

.not-found-message {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
  font-style: italic;
}

/* Icon */

.not-found-icon {
  color: #f00;
}
.not-found-emoji {
  font-size: 2rem;
}

.link-not-found {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}
