.main-bg-container{
    // background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
    background-color: #1e90ff; /* Bleu clair */


}
.home-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100svh;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/bg-maroc.jpg');

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #faf7f735;
        backdrop-filter: blur(10px);
         /* Préfixes pour Safari */
    -webkit-backdrop-filter: blur(10px);

    /* Préfixes pour Firefox */
    -moz-backdrop-filter: blur(10px);
        align-items: center;
        padding: 1rem;
        width: 80svw;
        height: 35svh;
        border: solid 3px black;
        box-shadow: 2px 2px 6px white;
        border-radius: 1rem;
        #title{
            font-weight: bold;
            text-align: center;
            font-size: 1rem;
            font-family: "Open Sans",sans-serif;
        }
    }

    .btns-connexion {
        display: flex;
        width: 100%;
        justify-content: space-around;

    }
}

@media screen and (min-width: 576px) {
.home-container{
background-size: contain;

}
    .container {
        padding: 8rem;
        width: auto;
        max-width: 30svw;
        height: auto;

        
        #title {
            font-size: 2rem !important;
    
        }
    }

}