<section class="main-bg-container">

    <div class="home-container">
        <div class="container">
            <h1 id="title" >
                <p >Bienvenue sur ton application de gestion des donations!</p>
            </h1>
            
            <div class="btns-connexion">
                <button mat-raised-button color="primary" type="button" (click)="onConnect()">Me connecter</button>
                <button mat-raised-button color="warn" type="button" (click)="onRegister()">Créer un compte</button>
            </div>
        </div>
    </div>
</section>