<!-- <mat-dialog-content>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Ancien mot de passe</mat-label>
        <input matInput type="password" [(ngModel)]="'oldPassword'" name="oldPassword" required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required/>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Confirmer</button>
    </form>
  </mat-dialog-content>
  
 -->
 <mat-dialog-content>
    <form [formGroup]="password" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Ancien mot de passe</mat-label>
        <input matInput type="text" formControlName="oldPassword"/>
        <mat-error *ngIf="password.controls['oldPassword'].hasError('required')">
          Ancien mot de passe requis
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nouveau mot de passe</mat-label>
        <input
        matInput
        (keyup.enter)="onSubmit()"
        (input)="clearErrorMessage()"
        [type]="passwordFieldType"
        #input
        (ngModelChange)="checkInputLength(input.value)"
        formControlName="newPassword"
        [errorStateMatcher]="matcher"
      />
        <mat-error *ngIf="password.controls['newPassword'].hasError('required') && (password.controls['newPassword'].dirty || password.controls['newPassword'].touched)">
          Nouveau mot de passe requis
          Format (1 mini, 1 maj, 1 chiffre, 1 spécial et 8 mini)
        </mat-error>
        <!-- Icône pour basculer la visibilité -->
        <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="
          'Toggle ' +
          (passwordFieldType === 'password' ? 'visibility' : 'hide')
        "
        [attr.title]="passwordFieldType === 'password' ? 'Show' : 'Hide'"
      >
        <mat-icon>{{
          passwordFieldType === "password" ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
      <mat-hint align="start">
        <span class="max-mdp" [ngClass]="inputLengthClass">
          {{ input.value.length }} </span
        >/8
      </mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Confirmer</button>
    </form>
  </mat-dialog-content>
  
  
