<mat-toolbar>
    <button (click)="drawer.toggle()" mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Mon application de gestion des dons</span>

</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="_loadingService.loading$ | async"></mat-progress-bar>
<mat-drawer-container hasBackdrop="true">
    <mat-drawer id="tirroir" #drawer mode="side">
        <ul class="ma-liste">
            <li><a href="/home"><button class="list-btns" mat-flat-button color="primary">Accueil</button></a></li>
            <li><a href="/"><button class="list-btns" mat-flat-button color="primary">
                        Mes Dons
                    </button>
                </a></li>
            <li><a href="/"> <button class="list-btns" mat-flat-button color="primary">
                        Mon Profil
                    </button>
                </a></li>
        </ul>

    </mat-drawer>
    <mat-drawer-content>

        <div class="form-sign-in-container">

            <div class="card">

                <form [formGroup]="connexionForm" (ngSubmit)="onSubmit()" class="formulaire-connexion">
                    <mat-form-field class="champs" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" [errorStateMatcher]="matcher" />
                        @if (connexionForm.get('email')?.invalid && !connexionForm.get('email')?.hasError('required')) {
                        <mat-error>Veuillez entrer une adresse e-mail valide</mat-error>
                        }
                        @if (connexionForm.get('email')?.hasError('required') && connexionForm.get('email')?.touched) {
                        <mat-error>Email <strong>requis</strong></mat-error>
                        }
                        <mat-icon color="primary" matIconSuffix>mail</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="champs" appearance="outline">
                        <mat-label> Mot de passe</mat-label>
                        <input matInput type="text" #input formControlName="password" [errorStateMatcher]="matcher" />
                        @if(connexionForm.get('password')?.invalid && !connexionForm.get('password')?.hasError('required')){
                        <mat-error>Veuillez entrer un format valide</mat-error>
                        }
                        @if(connexionForm.get('password')?.hasError('required') && connexionForm.get('password')?.touched){
                        <mat-error>Mot de passe <strong>Requis</strong></mat-error>
                        }
                        <mat-icon matIconSuffix color="primary">password</mat-icon>
                        <mat-hint align="start">
                            1 maj, 1 min, 1 chiffre, 1 special {{input.value.length}}/8
                        </mat-hint>
                    </mat-form-field>
                    <button id="btn-formulaire" mat-raised-button color="primary"
                        [disabled]="connexionForm.invalid">Valider</button>
                </form>
            </div>

        </div>
    </mat-drawer-content>
</mat-drawer-container>