.main-bg-container {
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
    height: 93svh;

}

.form-sign-in-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/sign-in-bg.jpg');

    .card {
        padding: 1rem;
        width: 80svw;
        height: 35svh;
        border: solid 3px rgba(57, 57, 205, 0.805);
        background-color: #faf7f767;
        backdrop-filter: blur(10px);
        /* Préfixes pour Safari */
        -webkit-backdrop-filter: blur(10px);

        /* Préfixes pour Firefox */
        -moz-backdrop-filter: blur(10px);
        border-radius: 16px;
        box-shadow: 2px 2px 8px rgba(34, 32, 32, 0.688);
    }

    .formulaire-connexion {
        display: flex;
        flex-direction: column;

        .champs {
            padding: 10px;
            margin: 5px 0;
        }

        #btn-formulaire {
            margin-top: 2rem;
        }
    }
}

#tirroir {
    height: 100%;
    padding: 10px;

    .ma-liste {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        margin: 2px;
        padding-right: 5px;


        .list-btns {
            margin: 2px;
            font-size: 1rem;

        }
    }
}

.mat-toolbar {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background-repeat: repeat-x;
    background-image: url('https://media.istockphoto.com/id/182416152/photo/arabic-islamic-zellige-mosaic-wall-detail-background-stock-photo.jpg?s=612x612&w=0&k=20&c=ttLTO9Ge-OkeFaql1UBUEUzkC2hqHz2t9ckXX8RaPg4=');

    .menu-button {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.545);
        backdrop-filter: blur(10px);
        border-radius: 3px;

    }

    .title {
        font-size: 1rem;
    }
}

@media screen and (min-width: 576px) {

    .main-bg-container {
        height: 95svh;


    }

    .mat-toolbar {

        .menu-button {
            width: fit-content;
            padding: 0 1rem;
            height: 100%;
        }

        .title {
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center; // Taille de police du titre réduite pour les appareils mobiles
        }
    }

    .form-sign-in-container {

        background: linear-gradient(to bottom right, #f0f0f0, #30363b);

    }

    .card {
        padding: 8rem;
        width: auto;
        max-width: 30svw;
        height: auto;
        max-height: 30svh;


    }

}