<section class="main-bg-container">
  <button routerLink="/" id="btn-icon" mat-icon-button>
    <mat-icon color="primary">arrow_back_ios</mat-icon>
  </button>
  <div class="form-sign-in-container">
    <div class="card">
      <form
        [formGroup]="connexionForm"
        (ngSubmit)="onSubmit()"
        class="formulaire-connexion"
      >
        <h2>Connexion</h2>
        <mat-form-field class="champs" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            (input)="clearErrorMessage(); normalizeEmail()"
            formControlName="email"
            type="email"
            [errorStateMatcher]="matcher"
          />
          @if (connexionForm.get('email')?.invalid &&
          !connexionForm.get('email')?.hasError('required')) {
          <mat-error>Veuillez entrer une adresse e-mail valide</mat-error>
          } @if (connexionForm.get('email')?.hasError('required') &&
          connexionForm.get('email')?.touched) {
          <mat-error>Email <strong>requis</strong></mat-error>
          }
          <mat-icon color="primary" matIconSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="champs" appearance="outline">
          <mat-label> Mot de passe</mat-label>
          <input
            matInput
            (keyup.enter)="onSubmit()"
            (input)="clearErrorMessage()"
            [type]="passwordFieldType"
            #input
            (ngModelChange)="checkInputLength(input.value)"
            formControlName="password"
            [errorStateMatcher]="matcher"
          />
          @if(connexionForm.get('password')?.invalid &&
          connexionForm.get('password')?.hasError('required')){
          <mat-error>
            Format (1 mini, 1 maj, 1 chiffre, 1 spécial et 8 mini)</mat-error
          >
          } @if(connexionForm.get('password')?.hasError('required') &&
          connexionForm.get('password')?.touched){
          <mat-error>Mot de passe <strong>Requis</strong></mat-error>
          }
          <!-- Icône pour basculer la visibilité -->
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="
              'Toggle ' +
              (passwordFieldType === 'password' ? 'visibility' : 'hide')
            "
            [attr.title]="passwordFieldType === 'password' ? 'Show' : 'Hide'"
          >
            <mat-icon>{{
              passwordFieldType === "password" ? "visibility" : "visibility_off"
            }}</mat-icon>
          </button>
          <mat-hint align="start">
            <span class="max-mdp" [ngClass]="inputLengthClass">
              {{ input.value.length }} </span
            >/8
          </mat-hint>
        </mat-form-field>
        <div class="submit-btn">
          <button
            id="btn-formulaire"
            mat-raised-button
            color="primary"
            [disabled]="connexionForm.invalid"
            (click)="onSubmit()"
          >
            Valider
          </button>
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="_loadingService.loading$ | async"
            color="accent"
          ></mat-progress-bar>
          <div
            *ngIf="errorMessage"
            [ngClass]="{ 'error-message': true, shake: errorMessage }"
            class="error-message"
          >
            {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
    <div class="right-side">
      <h2>Connectez-vous</h2>
      <p>
        Notre application vous permet de garder une trace de vos dons en toute
        simplicité. Explorez votre historique de dons et découvrez comment votre
        générosité fait une différence.
      </p>
    </div>
  </div>
</section>
