.titre {
  text-align: center;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    /* Retire les flèches de contrôle sur les champs de type nombre */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
